#mydiv {
    position: absolute;
    cursor: move;
    opacity: 0.9;
}

.neighbor {
    fill-opacity: 0;
    stroke: black;
    stroke-width: 1;
}

.Municipalities {
    fill: none;
    stroke: #333;
    stroke-width: 0.5;
    
}